<div class="sidebar">
	<div class="wrapper">

		<a href="" class="logo"><%= image_tag("logo1.png",  :class => "img-responsive", :alt => "europeTime" ) %></a>
		<div class="logout">
			<%= link_to session[:account]['nickname'], logout_path, method: :delete, class: "logout-link"%>
		</div>
		<div class="clearfix"></div>

		<ul class="nav-side" id="nav-side">

			<li id="in-out-link">
				<a href="">用户信息管理<span class="glyphicon glyphicon-chevron-right"></span></a>
				<ul class="second-nav-side">
					<li><%= link_to "#" do %>用户管理<% end %></li><br/>
					<li><%= link_to "#" do %>用户列表<% end %></li>
				</ul>
			</li>



		</ul>

	</div>
</div>
